*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-image: url(../assets2/bg.png);
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins";
}

.nav{
    background-color: black;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1.6rem 5rem;
}
.left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
.left .left_left{
    border-right: 1px solid white;
    padding-right: 5rem;
}
.middle ul{
    display: flex;
    align-items: center;justify-content: space-between;
    flex-direction: row;
    gap: 5rem;
}
ul li{
    list-style: none;
    color: white;
    
}

.buy{
    background-color: #e338dd;
    color: white;
    padding: 0.8rem 2rem;
    border-radius: 8px;
    border: 1px solid transparent;
    font-family: "Poppins";
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    

}
.content h1{
    font-size: 5.5rem;
    width: 60%;
    text-align: center;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    
}
.content h3{
    font-weight: 400;
    padding: 1.4rem;
    font-size: 20px;
}
.request_button{
    background-color: #e338dd;
    color: white;
    padding: 0.8rem 2rem;
    border-radius: 8px;
    border: 1px solid transparent;
    font-family: "Poppins";
    font-size: 24px;
    margin-top: 1rem;
}
@media (max-width: 600px) and(min-width:300px) {
    .content h1{
        font-size: 1rem;
        width:80%;
        padding-top: 4rem;
    }
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    body{
        background-size: cover;
        background-position: center;
    }
    .nav{
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .nav .middle{
        display: none;
    }
}
@media (max-width:900px) and (min-width:620px) {
    .content h1{
        font-size: 3rem;
        padding-top: 6rem;
    }
    .request_button{
        font-size: 20px;
        padding: 0.5rem 1rem;
    }
    body{
        height: 100vh;
        background-color: lightgreen;
        background-size: cover;
        background-position: center;
    }
}
    