*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;    
    font-family: "Poppins";

}
.main{
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
h1{
    color: #183B56;
}
h2{
    font-size: 1.5rem;
        color: #183B56;

}
p{
    font-size: 20px;
    font-family: "Roboto";
    color: #577592;
    line-height: 1.5;
}
h4{
    color: #183B56;;
}.span{
    color: #183B56;
    font-weight: 700;
    font-size: 1.5rem;
}

.main-nav{
    width: 100%;
    max-width: 1200px;
    margin-top: 0;  
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.nav-top{
    background: url(../pictures/image.png);
    background-position: cover;
    background-repeat:repeat;
    background-size: 300px;
    width: 100%; 
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #4fb3d4;
    text-align: center;
    padding: 1rem 0;

}
.nav-top p{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    height: 36px;
}

.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 3rem;
}
.nav-right h4{
    font-weight: 400;
    color: #183B56;
    cursor: pointer;
}
.nav-right h4:hover{
    color: #1d69a3;
    transition: 0.2s ease-in-out;
}
.sign-in{
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid  #183B56;
    color:  #183B56;
    font-weight: 700;
    font-family: "Poppins";
    background-color: white;
    font-size: medium;
}
.sign-up{
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid  transparent;
    color:  white;
    background-color:#2294ED;
    font-weight: 700;
    font-family: "Poppins";
    font-size: medium;
}
.sign-up:hover{
    background-color: #1d69a3;
    color: white;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.sign-in:hover{
    border-color:#2294ED;
    color: #2294ED;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.ri-menu-line{
  display: none;
  align-content: center;
}
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}
.left-hero{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
.left-hero h1{
    font-size: 3rem;
    color: #183B56;
}
.left-hero p{
    font-size: 1.25rem;
    font-family: "Roboto";
    color: #577592;
    line-height: 1.4;
    padding-bottom: 1.2rem;

}
.right-hero{
    width: 50%;
}
.right-hero img{
    width: 100%; 
}
.companies-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 4rem;
    gap: 2rem;
    
}
.companies-section p{
    color:#183B56;
    font-weight: 600;
}
.companies-logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;

}
.companies-logo img{
    height: 45px;
}
.benefits-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    gap: 1.5rem;

}
.top-benefits-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}
.bottom-benefits-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
}
.features{
    width: 30%;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1.5em;
    padding: 10px;
}

.fields-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
     flex-direction: column;
}
.field1, .field2, .field3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
   
}
.left-field{
    width: 50%;
}
.right-field{
    width: 50%;
}
.left-field img{
    width: 100%;
}
.examples-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
    gap: 3rem;
}
.examples-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.examples-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    text-align: bottom;
}
.examples-bottom p{
    color: white;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins";
    bottom: 10px;
    padding: 10px;    
}
.card1{
    width: 23%;
    background: linear-gradient(rgb(0,0,0,0.5), rgb(0,0,0,0.9)), url(../pictures/asset\ 35.jpeg);
    background-size: cover;
    min-height: 300px;
    position: relative;

}

.card2{
    width: 20%;
    background:linear-gradient(rgb(0,0,0,0.5), rgb(0,0,0,0.9)), url(../pictures/asset\ 34.jpeg);
    background-size: cover;   
    min-height: 300px;
}
.card3{
    width: 20%;
    background: linear-gradient(rgb(0,0,0,0.5), rgb(0,0,0,0.8)), url(../pictures/asset\ 36.jpeg);
    background-size: cover;
    min-height: 300px;
}
.card4{
    width: 20%;
    background: linear-gradient(rgb(0,0,0,0.5), rgb(0,0,0,0.8)), url(../pictures/asset\ 36.jpeg);
    background-size: cover;
    min-height: 300px;
}

.explore-section{
    background-color: #183B56;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    gap: 2rem;
    width: 100%;
}
.explore-section h1 {
    color: white;
    font-weight: 600;
    margin-bottom: 1rem;
}
.explore-section h3{
    color: white;
    font-weight: 500;
}
.footer-section{
    background-color: #EBF2FA;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    gap: 3rem;
    padding: 5rem 0;
}
.footer-section img{
    height: 35px;
    align-items: top;
    justify-content: top;
}
.footer-section h4{
    font-weight: 400;
    cursor: pointer;
}
.footer-section h4:hover{
    color: #1d69a3;
}
.footer-left, .footer-middle, .footer-right{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;   
}
.sub-footer{
    background-color: #b9cde4;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
    padding: 0 3rem;
}
.sub-footer h4{
    color:#183B56;
    padding: 1rem;
    font-weight: 400;
}
.sub-footer i{
    font-size: 25px;
    color:#183B56;
    padding: 0 1.5rem;
}


@media (max-width: 1024px) {
    .nav-right h4 , .nav-right button{
        display: none;
}
.nav-right i{
    display: initial;
    font-size: 25px;
}
.hero-section{
    flex-direction: column-reverse;
}
.left-hero, .right-hero{
    width: 100%;
}
.right-hero img{
    width: 90%;
}
.companies-logo{
    flex-wrap: wrap;
}
.companies-section p{
    text-align: center;
}
.top-benefits-section{
    text-align: center;
}
.bottom-benefits-section{
    flex-wrap: wrap;

}
.features{
    width: 35%;
}
.fields-section{
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.left-field, .right-field{
    width: 90%;
    gap: 2em;
}
.field1,.field3{
    flex-wrap: wrap;
    gap: 2rem;
}
.field1 img,.field3 img{
    width: 80%;
}
.field2 img{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
   width: 80%;
}

.field2{
    flex-wrap: wrap-reverse;
    gap: 1rem;
}
.examples-section{
    text-align: center;
}
.examples-bottom{
    flex-wrap: wrap;
}
.card1, .card2, .card3, .card4{
    width: 40%;
    flex-wrap: wrap;
}
.explore-section{
    text-align: center;
}
.footer-section{
    flex-wrap: wrap;
}
.footer-left, .footer-middle, .footer-right{
    width: 100%;
    display: fle;
    align-items: center;
    justify-content: center;
}
}
@media (max-width: 768px) and (min-width: 550px) {
     .nav-right h4 , .nav-right button{
        display: none;
}
.nav-right i{
    display: initial;
    font-size: 25px;
    align-content: center;
}
.hero-section{
    flex-direction: column-reverse;
}
 .right-hero{
    width: 100%;
}
.left-hero{
    width: 80%;
}
.left-hero h1{
    font-size: 2rem;
}
.right-hero img{
    width: 90%;
}
.companies-logo{
    flex-wrap: wrap;
}
.companies-section p{
    text-align: center;
}
.top-benefits-section{
    text-align: center;
}
.bottom-benefits-section{
    flex-wrap: wrap;
    width: 100%;

}
.features{
    width: 45%;
    height: fit-content;
}
.fields-section{
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.left-field, .right-field{
    width: 90%;
    gap: 2em;
}
.field1,.field3{
    flex-wrap: wrap;
    gap: 2rem;
}
.field1 img,.field3 img{
    width: 80%;
}
.field2 img{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
   width: 80%;
}

.field2{
    flex-wrap: wrap-reverse;
    gap: 1rem;
}
.examples-section{
    text-align: center;
}
.examples-bottom{
    flex-wrap: wrap;
}
.card1, .card2, .card3, .card4{
    width: 90%;
    flex-wrap: wrap;
}
.explore-section{
    text-align: center;
}
.footer-section{
    flex-wrap: wrap;
}
.get-started{
    width: 100%;
}

}
@media (max-width:550px) and (min-width: 200px) {
    .features{
    width: 100%;

}
.companies-section p{
    text-align: center;
}
.footer-left, .footer-middle, .footer-right{
    width: 100%;
    display: fle;
    align-items: center;
    justify-content: center;
}
.fields-section p{
    font-size: 18px;
}
.card1, .card2, .card3, .card4{
    width: 90%;
    flex-wrap: wrap;
}
.get-started{
    width: 100%;
}
.sub-footer{
  text-align: center;
}
}